@media screen and ( max-width:  576px)
    .header-top
        height: 100% !important
        padding-bottom: 5px
        .logo
            margin: 10px 0
        .custom-border
            .separator
                display: none
            h2
                text-align: center
                padding: 5px
            a
                width: 50%
                padding: 0 15px
            #mail
                padding: 5px 20vw
    .header-bottom
        .btn
            width: 100%

    .present_block
        .custom_card
            width: 98% !important
        .title_2
            margin-left: 0px

    .buttons
        width: 98% !important

@media screen and ( max-width:  410px)
    .custom_card
        #t4, #t5
            display: none

    .footer_block
        .magic-class
            margin: 10px
        .copyright
            margin: 20px
            justify-content: center
