@media screen and ( max-width:  576px)
    .header-top
        height: 100% !important
        padding-bottom: 5px
        .logo
            margin: 10px 0
        .custom-border
            .separator
                display: none
            h2
                text-align: center
                padding: 5px
            a
                width: 50%
                padding: 0 15px
            #mail
                padding: 5px 20vw
    .header-bottom
        .btn
            width: 100%