@media screen and (min-width: 1200px)
    .title
        align-items: flex-start
        padding-left: 10px
        transform: translateY(-13px)
        p
            margin: 0
            padding: 0
    
    .domain-block
        height: 200px
        padding-bottom: 0 

        .domain-form
            margin: 0
            padding: 0

        .domain-form
            .form-control
                height: 60px
            .custom-select
                height: 100%
                padding-left: 15px !important
            &>*
                height: 60px

    .benefits_block
        height: 550px
        .title_2
            margin-top: 0px

    .feature_block
        height: 420px

    .feature_block
        .left_side
            transform: translateY(-20px)

    .hosting_block
        height: 770px
        .title_2
            margin-top: 80px
            margin-left: 0

    .newsletter_block
        height: 240px