@media screen and ( max-width:  1200px)
    .title
        transform: none
        justify-content: center
        div
            margin-left: 0
            text-align: center
    header
        .header-bottom
            height: 100%
        .btn
            width: 20%
    .domain_block
        height: 100%
        .form-inline
            margin-bottom: 15px
