@media screen and ( max-width:  992px)
   .form-inline
      .form-control
         width: 100% !important
         margin-bottom: 10px
      .custom-select
         width: auto !important
         margin-bottom: 10px
         flex-grow: 1
      .btn
         margin-bottom: 10px