#Slider
    background-color: green
    height: 85%
    width: 100%
    #slide
        height: 100%
        background-image: url("../img/slider/slide_1.jpg")
        background-color: #ffffff
        background-size: cover
        background-position: center
        display: flex
        justify-content: space-between
        align-items: center
        input
            height: 10vh
            width: 10vh
            background: none
            border: none
            font-family: 'Open Sans'
            font-size: 48px
        input:focus
            border: none
            background: #52cbf8
        input:hover
            background: #52cbf8
        input:active
            border: none