#top
    height: 100% !important
    
#highlevel_top
    flex-direction: column
    margin-bottom: 10px
    justify-content: flex-start !important
    height: 100px !important

#top_menu
    padding-left: 0 !important

#lowlevel_top
    height: 100% !important
    flex-direction: column !important
    button
        height: 50px !important
        width: 100% !important

.domain 
    flex-direction: column
    height: 100% !important
    .title
        transform: none !important
        &>*
            margin-top: 10px
            display: inline-block
        img
            float: left
            margin-right: 10px
        strong
            font-size: 18px
    
    #inputs
        flex-direction: column
        #domain_input
            width: auto !important
        #domain_input, #time_selector, #lvl_selector
            margin: 10px 10px

    .button_teamplate
        margin: 10px

.title_2
    margin-top: 0 !important