body
    font-family: Open Sans
    display: flex
    flex-direction: column
    align-items: center

.title
    margin: 10px
    transform: translateY(-22%)
    text-align: left
    display: inline-block
    strong
        font-size: 28px

.title_2
    padding-left: 20px
    display: flex
    flex-direction: column
    justify-content: flex-end
    #good_line
        width: 30px
        border-top: 3px solid black
        border-color: #fb6b45
        margin-bottom: 8px
    p
        color: #9daeb4
        font-size: 18px
    strong 
        color: #556b72
        font-size: 30px

.form__input
    font-family: 'Roboto', sans-serif
    color: #333
    font-size: 1.2rem
    margin: 0 auto
    padding: 0.7rem 1.4rem 0.5rem 1.4rem
    border-radius: 0.2rem
    background-color: rgb(255, 255, 255)
    border: none
    border-bottom: 0.3rem solid transparent
    transition: all 0.3s

.background_block
    display: flex
    width: 100%
    justify-content: center 

#top_bg, #benefits_bg, #hosting_bg
    background-color: #ffffff

#footer_bg
    background-color: #4c515b

#newsletter_bg, #domain_bg
    background-color: #e7f4f8

#feature_bg
    background-color: #fffbde

.inside_block
    width: 1200px


.button_teamplate
    border: none
    background-color: #ff8261
    color: #ffffff
    &:focus
        border: none
        background: #52cbf8
    &:hover
        background: #52cbf8

#top
    display: flex
    flex-direction: column
    height: 160px
    #highlevel_top
        display: flex
        justify-content: space-between
        align-items: center 
        height: 100px
        #logo
            width: 160px
            padding: 10px
            img
                float: left
                padding-right: 8px
            p
                padding-top: 2px
                font-weight: 900
                font-size: 20px
        #top_menu
            border-top: 2px solid #e1e9f2
            border-bottom: 2px solid #e1e9f2
            padding-left: 30px
            margin-right: 15px
            table
                border: 2px solid white
                border-collapse: collapse
            td
                padding: 5px 15px
                border: 1px solid #d0d5da
            a
                color: #9ba4b0
                font-size: 14px
                text-decoration: none
    #lowlevel_top
        display: flex
        flex-direction: row
        height: 60px
        button
            height: 100%
            width: 10%

.domain
    height: 200px
    display: flex
    align-items: center
    justify-content: space-between
    #inputs
        width: 70%
        display: flex
        #domain_input, #time_selector, #lvl_selector
            margin: 0 10px
        #domain_input
            width: 60%
    .button_teamplate
        width: 200px
        height: 60px


.benefits
    height: 550px
    display: flex
    flex-direction: column

    .title_2
        margin-top: 70px
    #benefit_block
        height: 440px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: center
        .benefit
            width: 350px
            margin: 10px
            padding: 5px
            display: flex
            align-items: flex-start
            img
                margin: 5px 20px 0px 10px
                p
                    margin-bottom: 5px

.feature_block
    display: flex
    height: 420px
    justify-content: center
    #left_side, #right_side
        padding-top: 80px

    #left_side
        width: 400px
        #banner
            margin: 25px 20px
            background-color: #ffffff
            width: 360px
            height: 120px
            display: flex
            justify-content: center
            align-items: center
            .border
                margin: 10px
                height: 100px
                width: 340px
                border: 3px solid #fffbde
                display: flex
                flex-direction: column
                justify-content: center
                align-items: flex-start
                padding-left: 20px
                div
                    display: flex
                #t0
                    color: #97947f
                    margin-left: 3px
                    font-size: 14px
                #bottom
                    width: 300px
                    justify-content: space-between
                    align-items: center
                    #t1, #t2
                        font-size: 48px

                    #t1
                        color: #ff8261
                    #t2 
                        color: #8edcfa
                    #d2
                        flex-direction: column
                        margin-right: 10px
                        #t3, #t4
                            font-size: 17px
                        #t3
                            color: #97947f
                        #t4
                            color: #4c515b
                    

    #right_side
        width: 700px
        padding-left: 150px 
        display: flex
        flex-direction: column
        ul
            display: flex
            flex-wrap: wrap
            justify-content: space-around
            li
                width: 250px
                margin: 5px

        .button_teamplate
            margin: 10px 20px
            height: 50px

.pricelist_block
    display: flex
    flex-direction: column
    height: 770px
    .title_2
        margin-top: 90px
        margin-bottom: 35px
    #prices
        display: flex
        justify-content: space-around
        .rate
            height: 480px
            width: 265px
            font-family: Open Sans
            display: flex
            flex-direction: column
            align-items: center
            text-align: center
            border: 2px solid #e1eff4
            color: #556b72
            .price
                margin-top: 20px
                margin-bottom: 10px
                h3
                    font-size: 44px
                    font-weight: 900
                p
                    margin-top: -7px
                    font-size: 20px
            #PLAN
                font-weight: 900
                color: #ffffff
                width: 185px
                height: 60px
                font-size: 14px
                background-color: #52cbf8
                display: flex
                justify-content: center
                align-items: center
                margin-top: 10px
                margin-bottom: 10px
            ul>li
                list-style-type: none
                padding-top: 10px
                padding-bottom: 10px
                &:not(:first-child)
                    border-top: 1px solid #556b72
            input
                margin-top: 12px
                width: 120px
                height: 50px

.newsletter_block
    height: 240px
    display: flex
    justify-content: space-between
    align-items: center
    .send_form
        input
            width: 740px
        button
            margin-left: 5px
            width: 200px
            height: 50px
            
.footer_block
    height: 400px
    p
        color: #828b9d
    strong
        color: #ffffff
    display: flex
    justify-content: space-between
    align-items: flex-start
    #copyright, #quick_links, #contact_us, #social
        margin-top: 120px

    #copyright
        margin-top: 200px
        display: flex
        img
            margin: 10px
            margin-top: 5px
    #quick_links
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        width: 250px
        #linkname
            align-self: flex-start
            margin-bottom: 20px
        #links
            display: flex
            align-items: center
            justify-content: flex-start
            flex-wrap: wrap
            a
                color: #909aad
                margin-bottom: 10px
                width: 50%
                text-decoration: none
    #contact_us, #social
        display: flex
        flex-direction: column
        justify-content: center
        #contact_us_prev
            margin-bottom: 20px
        #contacts
            strong
                font-weight: 100
            ul>li
                margin-bottom: 10px
                list-style-type: none
                &>p, a
                    display: inline-block
                    color: #909aad
                    text-decoration: none
    #social
        margin-right: 20px