body
    background-color: #222836
    height: 100vh
    div
        background: #ffffff
        height: 15%
        header
            height: 100%
            margin: 0 20% 0 20%
            display: flex
            flex-direction: column
            p
                margin-left: 10px
                font-family: 'Open Sans'
                font-weight: 900
                font-size: 20px
            div
                height: 50%
                display: flex
                flex-direction: row
                justify-content: space-between
                align-items: center
                #top_menu
                    border-top: 2px solid #e1e9f2
                    border-bottom: 2px solid #e1e9f2
                    padding-left: 30px
                    margin-right: 15px
                    table
                        border: 2px solid white
                        border-collapse: collapse
                    td
                        padding: 0 15px 0 15px
                        border: 1px solid #d0d5da
                    p
                        color: #9ba4b0
                        font-size: 14px
            nav
                display: flex
                flex-direction: row
                height: 50%
                button
                    border: none
                    height: 100%
                    width: 10%
                    background-color: #ff8261
                    color: #ffffff
                    padding: 2px
                button:focus
                    border: none
                    background: #52cbf8
                button:hover
                    background: #52cbf8
